.dog{
    width: 300px;
    height: 400px;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    cursor: pointer;
    /* margin: 0 10px; */
}


.img{
    width: 100%;
}

.description {
    padding: 20px;
    border-radius: 9px;
    /* height: 100%; */
}

button {
    height: 30px;
    width: 40px;
    border-radius: 8px;
    /* background-color: purple; */
}

h2 {

    display: inline;
    margin: 10px 3px;
}



span {
    color: grey;
    font-size: 15px;
}


.temperament {
    font-size: 12px;
    display: inline-block;
    color: white;
    background:RGB(29, 155 , 240);
    border-radius: 9px;
    padding: 8px 10px;
    margin: 3px;
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}