details {
  height: 50%;
  /* overflow: hidden; */
}

.placement {

    /* background-color: red; */
    display: flex;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    /* pointer-events: stroke; */
    

}


.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  /* z-index: 999; */
}

.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}


.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}