
.pagination {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 0 auto;
}



.page {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 6px;
    min-width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    background:RGB(51, 98 , 193);
    color: white;
    padding: 0 6px;
}

.page:hover {
    opacity: 0.7;
}

.actual {
    opacity: 0.7;
    transform: scale(1.09);
}
.fa-angle-left {
    cursor: pointer;
    color:RGB(51, 98 , 193);
    margin-right: 20px;
    font-size: 40px;
}
.fa-angle-right {
    cursor: pointer;
    color:RGB(51, 98 , 193);
    margin-left: 20px;
    font-size: 40px;

}

.loading {
    margin: 0 auto;
}

.fa-angle-double-left {
    cursor: pointer;
    color:RGB(51, 98 , 193);
    font-size: 40px;
    margin-right: 15px;
}

.fa-angle-double-right {
    cursor: pointer;
    color:RGB(51, 98 , 193);
    font-size: 40px;
    margin-left: 15px;
}
.hide {
    color: grey;
    pointer-events: none;
}

.hidepage {
    background: white;
    pointer-events: none;
}

.order {
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
    
}

.home {
    font-size: 30px;
    cursor: pointer;
}