.footer-i {
    margin: 3px 0;
    color: black;
}

.instagram:hover {
        color: mediumorchid;
}
.linkedin:hover {
    color: cornflowerblue;
}
.github:hover {
    color: orange;
}
.fab {
    font-size: 30px;
}