.container {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid gainsboro; */

}

.nav{
    display: flex;
}

.img {
    width: 40px;
    cursor: pointer;
    margin-left: 30px;
}

li {
    margin-right: 40px;
    list-style: none;
}

/* i{
    font-size: 30px;
    color: RGB(29, 155 , 240);
} */

.links {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}
.links:hover {
    border-bottom: 4px solid cornflowerblue;
}