.container {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.nav{
    display: flex;
    align-items: baseline;
}

.img {
    width: 40px;
    cursor: pointer;
    margin-left: 30px;
}

li {
    margin-right: 40px;
    list-style: none;
}

/* i{
    font-size: 30px;
    color: RGB(29, 155 , 240);
} */

.links {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}
.links:hover {
    color: RGB(72, 137 , 244);
}

.create {
    margin: 20px auto;
    color: white;
    width: 100px;
    border: none;
    border-radius: 8px;
    background-color:RGB(242, 190 , 115);
    padding: 10px;
    cursor: pointer;
    margin-right: 50px;
}

.create:hover {
    opacity: 0.7;
}
